<div class="backdrop"></div>
<header class="main-header   <%= isWork ? 'isAttendance' :'' %>">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav  ">
        <% if(!isWork) {%>
            <ul class="main-header__item-list">
                <li class="main-header__item ">
                    <a href="/" class="<%= path ==='/home'?'active' : ''%> ">TRANG CHỦ</a>
                </li>

                <li class="main-header__item ">
                    <a href="/registerWork" class="<%= path ==='/adttendance'?'active' : ''%> ">ĐIỂM DANH</a>
                </li>
                <li class="main-header__item ">
                    <a href="/workTime" class="<%= path ==='/workTimeAndSalary'?'active' : ''%> ">GIỜ LÀM/LƯƠNG</a>
                </li>
                <li class="main-header__item ">
                    <a href="/staffInfo" class="<%= path ==='/staffInfo'?'active' : ''%> ">THÔNG TIN CÁ NHÂN</a>
                </li>
                <li class="main-header__item ">
                    <a href="/covid" class="<%= path ==='/covid'?'active' : ''%> ">THÔNG TIN COVID
                    </a>
                </li>
                <% if(role==='manager' ) {%>
                    <li class="main-header__item ">
                        <a href="/manager" class="<%= path ==='/manager'?'active' : ''%> ">QUẢN LÝ NHÂN VIÊN
                        </a>
                    </li>
                    <% } %>

            </ul>
            <ul class="main-header__item-list">
                <% if(isAuthenticated){ %>
                    <li class="main-header__item ">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <button type="submit" class="logout ">ĐĂNG XUẤT</button>
                        </form>
                    </li>
                    <% } else{ %>
                        <li class="main-header__item ">
                            <a href="/login" class="<%= path ==='/login'?'active' : ''%> ">ĐĂNG NHẬP</a>
                        </li>
                        <% } %>
            </ul>
            <% } %>
    </nav>
</header>

<nav class="mobile-nav ">
    <% if(!isWork) {%>
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item ">
                <a href="/registerWork" class="<%= path ==='/adttendance'?'active' : ''%> ">ĐIỂM DANH</a>
            </li>
            <li class="mobile-nav__item ">
                <a href="/workTime" class="<%= path ==='/workTimeAndSalary'?'active' : ''%> ">GIỜ LÀM/LƯƠNG</a>
            </li>
            <li class="mobile-nav__item ">
                <a href="/staffInfo" class="<%= path ==='/staffInfo'?'active' : ''%> ">THÔNG TIN CÁ NHÂN</a>
            </li>
            <li class="mobile-nav__item ">
                <a href="/covid" class="<%= path ==='/covid'?'active' : ''%> ">THÔNG TIN COVID
                </a>
            </li>
        </ul>
        <ul class="mobile-nav__item-list">
            <% if(isAuthenticated){ %>
                <li class="mobile-nav__item ">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button type="submit" class="logout ">ĐĂNG XUẤT</button>
                    </form>
                </li>
                <% } else{ %>
                    <li class="mobile-nav__item ">
                        <a href="/login" class="<%= path ==='/login'?'active' : ''%> ">ĐĂNG NHẬP</a>
                    </li>
                    <% } %>
        </ul>
        <% } %>
</nav>