<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <h5 class="font-italic">Tên nhân viên : <%= staff.name%>
                </h5>

                <h4 class="text-title">Danh sách giờ làm</h4>
                <% if(workTime.length> 0 ){ %>
                    <table class="table styleBox">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Thời gian bắt đầu </th>
                                <th>Thời gian kết thúc</th>
                                <th>Nơi làm việc</th>
                                <th>Số giờ làm thêm </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let time of workTime) {%>
                                <tr>
                                    <td>
                                        <%= moment(time.endTime).format('DD/MM/YYYY') %>
                                    </td>
                                    <td>
                                        <%= moment(time.startTime).format(' h:mm A') %>
                                    </td>
                                    <td>
                                        <%= moment(time.endTime).format(' h:mm A') %>
                                    </td>
                                    <td>
                                        <%= time.workSpace==='home' ? ' Nhà' : time.workSpace==='company' ? ' Công ty'
                                            : ' Khách Hàng' %>
                                    </td>
                                    <td>
                                        <%= time.overTime %>
                                    </td>
                                    <td>
                                        <form action="/manager/deleteWorkTime" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <input type="hidden" name="workTimeId" value="<%= time._id%> ">
                                            <input type="hidden" name="staffId" value="<%= staff._id%>">
                                            <button class="btn btn-outline-danger " <%=isConfirm ? 'disabled' :'' %>
                                                >XÓA</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } else {%>
                        <h5 class="pl-2 font-italic text-warning">Chưa có dữ liệu ...</h5>
                        <% } %>
                            <p class="pl-5"><span class="font-italic text-secondary">Tổng giờ đã làm
                                    :</span>
                                <span class="font-weight-bold">
                                    <%= totalTime.toFixed(2) %> (giờ)
                                </span>
                            </p>

                            <h4 class="text-title">Danh sách đăng ký nghỉ phép </h4>
                            <% if(offTimes.length> 0){ %>
                                <table class="table styleBox">
                                    <thead>
                                        <tr>
                                            <th>Ngày</th>
                                            <th>Số giờ đăng kí nghỉ</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let time of offTimes) {%>
                                            <tr>
                                                <td>
                                                    <%= (time.date) %>
                                                </td>
                                                <td>
                                                    <%= time.hours %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <% }else{ %>
                                    <h5 class="pl-2 font-italic text-warning">Chưa có dữ liệu ...</h5>
                                    <% } %>
                                        <h4 class="text-title mt-4"> Xác nhận dữ liệu giờ làm đã đúng</h4>

                                        <% if (!isConfirm) { %>
                                            <form action="/manager/isConfirm" method="post">
                                                <button class='btn btn-outline-warning mt-2' type="submit">XÁC
                                                    NHẬN</button>
                                                <input type="hidden" name="staffId" value="<%= staff._id%> ">
                                                <input type="hidden" name="month" value="<%= month %> ">
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            </form>
                                            <% }else{ %>
                                                <h3 class="text-danger ml-4 mt-4">....Đã xác nhận thông tin giờ làm.
                                                </h3>
                                                <% } %>



            </div>


        </main>
        <%- include('../includes/end.ejs') %>